*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    padding: 2rem;

}
.container{
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}
.bar{
    width: 3.5rem;
}
.left{
    display: flex;
}
.hamberger{
    position: absolute;
    top: 4.5rem;
    left: 3.4rem;
}
.logo{
    width: 10.5rem;

}
.searchbox{
    display: inline-block;
    width: 50%;
    position: relative;
    
}
.search-bar{
    /* height: 4rem; */
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
.search-bar>input{
    height: 20px;
    padding-left: 1.5rem;
    border-radius: 20px 0 0 20px;
    border:1px solid gray;
}
.search-bar input[type=text]:focus {
    
    border: 3px solid powderblue;
  }


::placeholder{
    padding-left: 2rem;
}
.fa-search{
    color: #777;
}
.searchbutton{
    width: 70px;
    height: 20px;
    border: 1px solid #555;
    border-radius: 0 20px 20px 0;
}
.searchbutton:hover{
    background-color: #bbb;
}
.fa-microphone{
    padding-top: .5rem;
    border-radius: 50%;
    height: 20px;
    width : 30px;
    padding-left: .8rem;
    color: black;
    margin-left: 1rem;
    padding-right: .2rem;
}
.fa-microphone:hover{
    background-color: #bbb;
}
.fa-video{
    height: 2rem;
    width: 3rem;
    
    padding-top: .5rem;
    padding-left: 1rem;
    border-radius: 50%;
}
.fa-video:hover{
    background-color: #bbb;
}
.fa-bell{
    height: 20px;
    width: 30px;
    padding-left: 1rem;
    padding-top: .5rem;
    border-radius: 50%;
}
.fa-bell:hover{
    background-color: #bbb;
}
.profile{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    padding: auto;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: space-between;
}
.user-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.searchinput{
    width: 30rem;
}

/* navigation bar */
.main{
    display: grid;
    grid-template-columns: 0.1fr 0.9fr;
}
.main--video-gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin: 0 2.5rem;
}
.video{
    width: 100%;
    cursor: pointer;
}
.iframe-video{
    width:100%;
    height: 15rem;
    border-radius: 10px;
}
.decription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 1rem;
    padding: 0.5rem;
}
.decription>.title{
    font-weight: bold;
}
ul.main-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: 1px solid #bbb;
    padding-bottom: 1rem;
    list-style: none;
}
ul.main-list li a{
    text-decoration: none;
    color: #555;
    
}
