*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;

}
.container{
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}
.bar{
    width: 3.5rem;
}
.left{
    display: flex;
}
.logo{
    width: 10.5rem;
}
.searchbox{
    width: 50%;
}
.search-bar{
    height: 4rem;
    position: relative;
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
    flex-direction: row;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.searchbutton{

}